*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    text-align: center;
    margin: 0 auto;
    width: 100vw;    
}

header h2{
    font-size: 13px;
    font-weight: lighter;
    padding-top: 5px;
    padding-bottom: 25px;    
}

header h1{
font-size: 60px;
font-weight: lighter;
width: 300px;
margin: 0 auto;
padding-bottom: 25px;
}

header div{
    padding-bottom: 40px;
}
header p{
    font-size: 80px;
    padding-bottom: 40px;
}
main{
    margin: 0 auto;
}

.A{
    background-image: url(../img/portfolio2.png);
    background-size: cover;
    padding-top: 30%;
    width: 100vw;
        
}
main section p{
    margin-top: 20%;
    margin-left: 20%;
}
.A p:nth-child(1){
    color: darkgray;
    font-size: 20px;    
}
.A p:nth-child(2){
    color: white;
    font-size: 112px;
}
.A p:nth-child(3){
    color: darkgray;
    font-size: 20px;  
}
.A p:nth-child(4){
    color: rgb(255, 255, 255);
    font-size: 16px; 
    border: 1px solid darkgray;
    width: 96px;    
    height: 52px;
    text-align: center;
    padding-top: 15px;
}
.A p:nth-child(5){
    color: darkgray;
    font-size: 165px;
    margin-top: 0px;    
}  

